<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/ico" href="/favicon.ico" />

    <title>Smarppy</title>
    <meta name="description" content="Consultoria e Desenvolvimento de Software" />

    <link rel="canonical" href="https://smarppy.com">

    <meta name="keywords" content="software+development,desenvolvimento+software,android,ios,iphone,treinamento,curso,consultoria" />
    <meta name="author" content="Smarppy" />
    <meta name="copyright" content="Copyright © Smarppy" />
    <meta name="robots" content="index,nofollow" />

    <meta name="geo.position'" content="-24.050361; -52.366555" />
    <meta name="geo.placename'" content="Smarppy" />
    <meta name="geo.region'" content="BR" />

    <meta name="twitter:card'" content="Smarppy - Consultoria e Desenvolvimento de Software" />

    <meta property="og:title" content="Smarppy" />
    <meta property="og:description" content="Consultoria e Desenvolvimento de Software" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://smarppy.com" />
    <meta property="og:image" content="https://smarppy.com/capa.png" />

    <link rel="manifest" href="/manifest.json">

    <base href="/">

    <style>
        #splash-screen {
            display: table;
            position: absolute;
            top: 0px;
            left: 0px;
            height: 100vh;
            width: 100vw;
            background-color: #fff;
            z-index: 100000
        }
    </style>

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet"
        type="text/css">

</head>

<body>
    <noscript>
        Você precisa habilitar o JavaScript em seu navegador para utilizar este site.
    </noscript>
    <div id="root"></div>

    <!-- Exibe o "carregando" enquanto o bundle é carregado. -->
    <!-- <div id="splash-screen">
        <div style="display: table-cell; vertical-align: middle;">
            <div style="margin: auto auto; text-align: center">
                <img src="/bundle-loading.gif" alt="Loading..." />
            </div>
        </div>
    </div> -->

</body>

</html>
