$color-smarppy-primary: #F27612;
$color-smarppy-light: #ffa748;
$color-smarppy-dark: #b94700;
$color-smarppy-text-on-primary: #000;
$color-smarppy-text-on-dark: #FFF;

$color-smarppy-secondary: #011C41;
$color-smarppy-secondary-light: #33426c;
$color-smarppy-seconday-dark: #00001c;
$color-smarppy-text-on-secondary: #fff;
